<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>hax-manager demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../../lrndesign-card/lrndesign-card.html">
    <link rel="import" href="../../lrndesign-blockquote/lrndesign-blockquote.html">
    <link rel="import" href="../../lrndesign-contentblock/lrndesign-contentblock.html">
    <link rel="import" href="../../lrndesign-drawer/lrndesign-drawer.html">
    <link rel="import" href="../../lrndesign-avatar/lrndesign-avatar.html">
    <link rel="import" href="../../lrndesign-panelcard/lrndesign-panelcard.html">
    <link rel="import" href="../hax-content.html">

    <style is="custom-style" include="demo-pages-shared-styles">
      .vertical-section-container {
        max-width: none;
      }
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic hax-manager demo</h3>
      <demo-snippet>
        <template>
          <hax-content>
            <p id="23884202" data-hax-content>Assertively scale equity invested models with scalable systems. Appropriately utilize vertical products vis-a-vis interoperable benefits. Progressively formulate reliable e-business with virtual web services. Distinctively exploit frictionless web-readiness with fully tested niches. Distinctively redefine innovative collaboration and idea-sharing without high standards in action items.</p>
            <p id="13828231" data-hax-content>Proactively negotiate an expanded array of sources and client-centered materials. Efficiently implement client-centered markets via innovative scenarios. Monotonectally engineer transparent infomediaries without superior platforms. Credibly cultivate client-centric technologies rather than resource sucking meta-services. Objectively administrate user friendly information whereas plug-and-play communities.</p>
            <p id="12818344" data-hax-content>Intrinsicly develop interoperable portals with transparent alignments. Proactively maintain extensive materials through high-quality sources. Authoritatively customize interoperable catalysts for change without seamless content. Seamlessly productivate cross-unit meta-services with quality synergy. Rapidiously expedite future-proof e-markets after diverse meta-services.</p>
            <p id="10337939" data-hax-content>Dramatically integrate worldwide technology whereas exceptional catalysts for change. Objectively fabricate multidisciplinary systems whereas ethical platforms. Distinctively transform high standards in markets after world-class metrics. Intrinsicly innovate client-based potentialities whereas high standards in imperatives. Collaboratively productivate alternative convergence after multimedia based e-commerce.</p>
            <p id="18280402" data-hax-content>Appropriately impact next-generation collaboration and idea-sharing through cross-platform leadership. Distinctively productize pandemic quality vectors rather than resource-leveling technologies. Enthusiastically implement flexible bandwidth with user-centric ideas. Collaboratively transition distributed models for fully researched core competencies. Dynamically empower high standards in users without effective networks.</p>
            <p id="13098789" data-hax-content>Credibly disseminate bricks-and-clicks leadership skills without inexpensive growth strategies. Synergistically actualize client-centric alignments whereas value-added e-commerce. Professionally communicate reliable niches vis-a-vis cross functional services. Conveniently leverage other's cross-platform content through error-free best practices. Synergistically empower distinctive channels rather than distributed markets.</p>
          </hax-content>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
